@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  html,
  body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    
  } 

  body {
    height: 100vh;
    position: relative;
    font-size: 1.6rem;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom left, 
      rgb(var(--background-start-rgb)), 
      rgb(var(--background-end-rgb))70%
    )
  } 

  span {
    color: rgb(var(--theme-font-rgb));
  }

  @media (min-width: 2560px) {
    html{
        font-size: 100%;
    }
  }

  @media (max-width: 844px) {
    html,
     body{
        height: 230vh;
    }
  }

  @media (max-width: 768px) {
    html{
        font-size: 50%;
    }

    html,
     body{
        height: 100vh;
    }
  }

  @media (max-width: 320px) {
    html,
     body{
        height: 150vh;
        font-size: 45%;
    }
  }

  .ld{
    color: rgb(var(--theme-font-rgb));
    transition: 0.3s;
    border-color: rgb(var(--theme-font-rgb));
  }

  .ims{
    background-image: var(--moon-sun-image);
    background-color: rgb(var(--foreground-rgb));
    background-size: 80%;
  }

  .old{
    background-color: rgba(var(--foreground-rgba));
  }

  .select{
    color: rgba(var(--theme-font-rgb));
    border-bottom: 1px solid rgba(var(--theme-font-rgb));
  }

  .bgb{
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rv-rgb));
  }

  .trans{
    background: rgba(var(--foreground-about-rgba));
  }

  .bor{
    border: 1px solid rgb(var(--foreground-rgb));
    border-radius: 20px;
  }

  .feed{
    border-radius: 0 0 20px 20px;
    border-bottom: 90px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid rgba(var(--foreground-rgba));
    border-left: 90px solid rgba(var(--foreground-rgba));
  }

  .sun,.moon{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(
      to right top, 
      rgb(var(--foreground-rgb)), 
      rgb(var(--astro-rgb))50%
      )
  }

  .moon2{
    right: 0;
    top: 0;
    background: rgb(1, 24, 61);
    transform: translate3d(75px, -75px, 0) scale(0.9);
  }

  .moon{
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(1, 24, 61);
    transform: translate3d(10px, -10px, 0) scale(0.9);
    transition: transform .1s;
  }

  .swiper .swiper-button-prev{ 
    color: rgb(var(--theme-font-rgb))
   }
 
  .swiper .swiper-button-next{
    color: rgb(var(--theme-font-rgb))
   }

  .swiper .swiper-pagination-bullet-active{
    background-color: rgb(var(--theme-font-rgb))
   }

  #bullet .swiper .swiper-pagination-bullet-active{
    background-color: rgb(var(--theme-font-rgb));
    display: flex;
    position: absolute;
   }

   .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .background{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .ball{
    position: absolute;
    display: flex;
    z-index: 0; 
  }

  .boom{
    position: absolute;
    display: flex;
    z-index: 1;
  }

  .ball span{
    width: 15rem;
    height: 15rem;
    border: 1px solid rgb(var(--theme-font-rgb));
    background: transparent;
    margin: 0 10rem;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(var(--foreground-rgba)),
     0 0 50px rgb(var(--theme-font-rgb)),
     0 0 100px rgb(var(--theme-font-rgb));
     animation: animar calc(150s / var(--speed)) linear infinite;
     opacity: 0.3;
  }

  .boom span{
    width: 2rem;
    height: 2rem;
    background-color: rgb(var(--theme-font-rgb));
    margin: 0 7rem;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(var(--foreground-rgba)),
     0 0 50px rgb(var(--theme-font-rgb)),
     0 0 100px rgb(var(--theme-font-rgb));
     animation: animar calc(150s / var(--speed)) linear infinite;
     opacity: 0.3;
  }

  #a{animation: animar calc(150s / 15) linear infinite;}
  #b{animation: animar calc(150s / 30) linear infinite;}
  #c{animation: animar calc(150s / 25) linear infinite;}
  #d{animation: animar calc(150s / 50) linear infinite;}
  #e{animation: animar calc(150s / 20) linear infinite;}
  #f{animation: animar calc(150s / 45) linear infinite;}
  #g{animation: animar calc(150s / 30) linear infinite;}
  #h{animation: animar calc(150s / 65) linear infinite;}
  #i{animation: animar calc(150s / 20) linear infinite;}
  #j{animation: animar calc(150s / 45) linear infinite;}
  #k{animation: animar calc(150s / 30) linear infinite;}
  #l{animation: animar calc(150s / 65) linear infinite;}

  @keyframes animar {
    0% {
      transform:  translateY(100vh) scale(0.5);
    }
    100% {
      transform:  translateY(-10vh) scale(1);
    }
  }

  .ball span:nth-of-type(even) {
    background: transparent;
    box-shadow: 0 0 0 2px rgba(var(--foreground-rgba)),
     0 0 50px rgb(var(--theme-font-rgb)),
     0 0 100px rgb(var(--theme-font-rgb));
    }
}

:root,.dark{
  --theme-font-rgb: 25, 70, 175;
  --foreground-rgb: 0, 0, 0;
  --foreground-rv-rgb: 255, 255, 255;
  --foreground-rgba: 0, 0, 0, 0.20;
  --foreground-about-rgba: 255, 255, 255, 0.05;
  --background-start-rgb: 218, 228, 233;
  --background-end-rgb: 198, 129, 87;
  --astro-rgb: 255, 117, 0;
  --moon-sun-image: url(/moon-fill.svg);
  --night-day-image: url(/images/day.jpg);
}


@media (prefers-color-scheme: dark) { 
  :root{
    --theme-font-rgb: 208, 108, 47;
    --foreground-rgb: 255, 255, 255;
    --foreground-rv-rgb: 0, 0, 0;
    --foreground-rgba: 255, 255, 255, 0.20;
    --foreground-about-rgba: 0, 0, 0, 0.05;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 1, 24, 61;
    --astro-rgb: 0,0,255;
    --moon-sun-image: url(/sun-fill.svg);
    --night-day-image: url(/images/night.jpg);
  }
}