@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  * {  
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  html,
  body {
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  } 

  body {  
    position: relative;
    overflow: hidden;
    font-size: 1.6rem;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom left, 
      rgb(var(--background-start-rgb)), 
      rgb(var(--background-end-rgb))70%
    )
  } 

  span {
    color: rgb(var(--theme-font-rgb));
  }

  @media (max-width: 768px) {
    html{
        font-size: 50%;
    }
  }
  
  @media (min-width: 2560px) {
    html{
        font-size: 100%;
    }
  }

  .ld{
    color: rgb(var(--theme-font-rgb));
    transition: 0.3s;
  }

  .ims{
    background-image: var(--moon-sun-image);
    background-color: rgb(var(--foreground-rgb));
    background-size: 80%;
  }

  .old{
    background-color: rgba(var(--foreground-rgba));
  }

  .bgb{
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rv-rgb));
  }

  .trans{
    transition: 0.5s;
  }
}

:root {
  --theme-font-rgb: 208, 108, 47;
  --foreground-rgb: 255, 255, 255;
  --foreground-rv-rgb: 0, 0, 0;
  --foreground-rgba: 255, 255, 255, 0.20;
  --background-start-rgb: 30, 30, 30;
  --background-end-rgb: 1, 24, 61;
  --moon-sun-image: url(/sun-fill.svg)
}

.ligth {
  --theme-font-rgb: 25, 70, 175;
  --foreground-rgb: 0, 0, 0;
  --foreground-rv-rgb: 255, 255, 255;
  --foreground-rgba: 0, 0, 0, 0.20;
  --background-start-rgb: 218, 228, 233;
  --background-end-rgb: 198, 129, 87;
  --moon-sun-image: url(/moon-fill.svg)
}